[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cchardet = "==2.1.7"
certifi = "==2020.12.5"
cffi = "==1.14.6"
chardet = "==4.0.0"
aiohttp = "==3.7.4.post0"
asyncpg = "==0.23.0"
beautifulsoup4 = "==4.9.3"
youtube-dl = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
disnake = "==2.3.0"
pylint = "*"
pydantic = "*"
loguru = "*"
toml = "*"
poethepoet = "*"

[dev-packages]
tox = "*"
mypy = "*"
pylint = "*"
mkinit = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
