[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncpg = "==0.23.0"
sqlalchemy = {extras = ["asyncio"], version = "*"}
pylint = "*"
pydantic = "*"
loguru = "*"
toml = "*"
poethepoet = "*"
hikari-lightbulb = "*"
hikari = "*"
setuptools = "*"
music-source = {git = "https://github.com/LEv145/music_source.git"}

[dev-packages]
tox = "*"
mypy = "*"
pylint = "*"
mkinit = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
